{% extends "base_generic.html" %}

{% block content %}
{% if validlink %}
<p>Por favor, digite e confirme nova senha.</p>
<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.new_password1.errors }}
        <label for="id_new_password1">Nova senha:</label></td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.errors }}
        <label for="id_new_password2">Confirme nova senha:</label></td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Troca de senha"></td>
    </tr>
  </table>
</form>
{% else %}
<h1>Falha ao reiniciar senha</h1>
<p>Link inválido para reinício de senha.  É possível que esse link já tenha sido usado antes.  Solicite nova troca de senha.</p>
{% endif %}
{% endblock %}
